<div class="details">
  <ul class="details__list">
    <li class="details__item" *ngFor="let item of list">
      <span class="weather__date">{{item.time | date : 'shortTime'}}</span>
      <span class="weather__info"><ng-container i18n="@@temperature">Temperature</ng-container>: {{item.values.temperature}}° C</span>
      <span class="weather__info"><ng-container i18n="@@windSpeed">Wind speed</ng-container>: {{item.values.windSpeed}} <ng-container i18n="@@ms">m/s</ng-container></span>
      <span class="weather__info"><ng-container i18n="@@weather">Weather</ng-container>: {{item.values.weatherCode | getWeatherText}}</span>
      <img class="weather__icon" [src]="'assets/icons/' + (item.values.weatherCode | getWeatherIcon)" [alt]="item.values.weatherCode | getWeatherText">
    </li>
  </ul>
</div>
