<div class="details">
  <div class="details__header">
    <ng-container *ngIf="mode === 'day'">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none" class="details__title-icon">
        <rect x="0.5" y="2.5" width="15" height="17" rx="1.5" stroke="#FFFFFF"/>
        <path d="M0.5 7H15.5" stroke="#FFFFFF"/>
        <path d="M4 1V5" stroke="#FFFFFF" stroke-linecap="round"/>
        <path d="M11 15H5" stroke="#FFFFFF" stroke-linecap="round"/>
        <path d="M11 11H5" stroke="#FFFFFF" stroke-linecap="round"/>
        <path d="M12 1V5" stroke="#FFFFFF" stroke-linecap="round"/>
      </svg>
      <p class="details__title" i18n>5-days forecast</p>
    </ng-container>
    <ng-container *ngIf="mode === 'time'">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="details__title-icon">
        <circle cx="8" cy="8" r="7.5" stroke="#FFFFFF"/>
        <path d="M8 3.2002V8.8002H11.2" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <p class="details__title" i18n>Hourly forecast</p>
    </ng-container>
  </div>
  <div class="details__info">
    <ul class="details__list">
      <li class="details__item" *ngFor="let item of list" (click)="setCurrentItem(item)" [class.active]="item.time === currentDay" [class.day]="mode === 'day'">
        <span class="details__date">{{item.time | date : (mode === 'day' ? 'dd/MM' : 'HH:mm') :'UTC'}}</span>
        <img class="details__icon" [src]="'assets/icons/' + ((mode === 'day' ? item.values.weatherCodeMax : item.values.weatherCode) | getWeatherIcon)" [alt]="item.values.weatherCode | getWeatherText">
        <span class="details__value">{{(mode === 'day' ? item.values.temperatureAvg : item.values.temperature) | number : '1.1-1'}}° C</span>
        <span class="details__value">
          <svg xmlns="http://www.w3.org/2000/svg" height="16px" width="16px" class="details__icon-wind" viewBox="0 0 512 512">
            <path fill="#FFFFFF" d="M288 32c0 17.7 14.3 32 32 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H352c53 0 96-43 96-96s-43-96-96-96H320c-17.7 0-32 14.3-32 32zm64 352c0 17.7 14.3 32 32 32h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H384c-17.7 0-32 14.3-32 32zM128 512h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H160c17.7 0 32 14.3 32 32s-14.3 32-32 32H128c-17.7 0-32 14.3-32 32s14.3 32 32 32z"/>
          </svg>
          {{(mode === 'day' ? item.values.windSpeedAvg : item.values.windSpeed) | number : '1.1-1'}} <ng-container i18n="@@ms">m/s</ng-container>
        </span>
      </li>
    </ul>
  </div>
</div>
