@import "src/assets/styles/variables";

.weather {
  &-wr {
    display: flex;
    justify-content: space-between;
    @include media-tablet-down() {
      flex-direction: column;
    }
  }
  &__block {
    width: calc(50% - 10px);
    @include media-tablet-down() {
      width: 100%;
    }

    &--main {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      border-radius: 10px;
      background-color: rgba(0,0,0,0.5);
      @include media-tablet-down() {
        margin-bottom: 15px;
      }
    }
  }
  &__location {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;

    @include media-tablet-down() {
      font-size: 24px;
    }
  }
  &__point {
    width: 36px;
    height: 36px;
    position: relative;
    top: 3px;
    margin-right: 5px;

    @include media-tablet-down() {
      width: 20px;
      height: 20px;
    }
  }
  &__info {
    font-size: 28px;
    text-align: center;
    &--time {
      font-style: italic;
      opacity: 0.6;
    }

    @include media-tablet-down() {
      font-size: 18px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    position: relative;
    top: 3px;

    @include media-tablet-down() {
      width: 18px;
      height: 18px;
    }
  }
  &__retry {
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    background-color: $blue;
    color: $white;
  }
  &__details {
    & + & {
      margin-top: 15px;
    }
  }
}
