<div class="weather">

  <ng-container *ngIf="loading$ | async; else data">
    <app-spinner></app-spinner>
  </ng-container>

  <ng-template #data>
    <ng-container *ngIf="data$ | async as data">
      <div class="weather-wr">
        <div class="weather__block weather__block--main">
          <p class="weather__location">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none"
                 class="weather__point">
              <path
                d="M15.5 8C15.5 8.97305 15.0523 10.1829 14.3143 11.4937C13.5839 12.791 12.6034 14.1282 11.6128 15.3405C10.6238 16.5509 9.63342 17.6263 8.88962 18.3997C8.52228 18.7817 8.21571 19.0893 8 19.3023C7.78429 19.0893 7.47772 18.7817 7.11038 18.3997C6.36658 17.6263 5.37621 16.5509 4.38719 15.3405C3.39662 14.1282 2.41614 12.791 1.68569 11.4937C0.947701 10.1829 0.5 8.97305 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z"
                stroke="#FFFFFF"/>
              <circle cx="8" cy="8" r="2" fill="#FFFFFF"/>
            </svg>
            {{data.location}}
          </p>
          <p class="weather__info weather__info--time">{{currentDayWeather.time | date : 'dd/MM' :'UTC'}}</p>
          <p class="weather__info">
            <img class="weather__icon" [src]="'assets/icons/' + (currentDayWeather.values.weatherCodeMax | getWeatherIcon)" [alt]="currentDayWeather.values.weatherCodeMax | getWeatherText">
            {{currentDayWeather.values.weatherCodeMax | getWeatherText}}
          </p>
          <p class="weather__info">{{currentDayWeather.values.temperatureAvg | number : '1.1-1'}}° C</p>
          <p class="weather__info">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" width="16px" class="weather__icon" viewBox="0 0 512 512">
              <path fill="#FFFFFF" d="M288 32c0 17.7 14.3 32 32 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H352c53 0 96-43 96-96s-43-96-96-96H320c-17.7 0-32 14.3-32 32zm64 352c0 17.7 14.3 32 32 32h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H384c-17.7 0-32 14.3-32 32zM128 512h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H160c17.7 0 32 14.3 32 32s-14.3 32-32 32H128c-17.7 0-32 14.3-32 32s14.3 32 32 32z"/>
            </svg>
            {{currentDayWeather.values.windSpeedAvg | number : '1.1-1'}}
            <ng-container i18n="@@ms">m/s</ng-container></p>
        </div>
        <div class="weather__block">
          <div class="weather__details">
            <app-weather-details [list]="data.dataDaily" mode="day" [currentDay]="currentDayWeather.time" (selected)="showDetails($event)"></app-weather-details>
          </div>
          <div class="weather__details">
            <app-weather-details [list]="data.dataHourly | filterByDate : currentDayWeather.time"
                                 mode="time"></app-weather-details>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="errors$ | async as errors">
      <ul>
        <li *ngFor="let errorObj of errors | keyvalue">
          {{errorObj.key}}: {{errorObj.value}}
        </li>
      </ul>
      <button class="weather__retry" type="button" (click)="retry()" i18n>Retry</button>
    </ng-container>
  </ng-template>
</div>
