@import "assets/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  color: $white;
  background-color: $black;
  @include H4;
}

.app {
  min-width: $min-width;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url('assets/images/NY.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }
}
.surface {
  padding: 20px;
  margin: 50px 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  @include media-tablet-down() {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.wr-section {
  flex-grow: 1;
  max-width: $max-width + $screen-gap * 2;
  margin: 0 auto;
  padding: 0 $screen-gap;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-tablet-down {
    padding: 0 $screen-gap-mobile;
  }
}

a {
  color: $black;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.2s linear;
  text-transform: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
select,
label {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  font-family: $font;
}

input,
textarea {
  outline: none;
  padding: 0;
  margin: 0;
  font-family: $font;
}
